.cabecalho__menu {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background-image: url(../assets/Menu.svg);
    background-position: center;
    margin: 0.5rem;
    z-index: auto;
}

.menu__botao {
    display: none;
}

.lista-menu {
    display: none;
    background-color: var(--menu-fundo);
    position: absolute;
    z-index: 3;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

.lista-menu__item {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem 0.2rem 0;
}

.lista-menu__link {
    text-decoration: none;
    color: var(--menu-item);
}

.lista-menu__titulo {
    font-weight: 700;
    font-size: 24px;
    color: var(--menu-titulo);
    padding-right: 3rem;
}

.menu__botao:checked ~ .lista-menu {
    display: block;
}