:root {
    --cor-fundo: linear-gradient(to left, #042c5c, #5992d8);
    --borda-frente: rgb(53, 44, 150);
    --borda-atras: rgb(27, 19, 105);
    --frente: rgb(113, 105, 211);
    --atras: rgb(73, 61, 212);
    --letra-frente: rgb(192, 191, 230);
    --letra-atras: rgb(191, 186, 247);
    --tema: rgb(195, 214, 241);
    --tema-caixa: rgb(42, 78, 155);
    --tema-borda: rgb(19, 42, 92);
    --footer-caixa:rgb(23, 46, 119);
    --footer-letra: rgb(174, 196, 243);
}

body {
    background-image: var(--cor-fundo);
    font-family: Caveat;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem 1rem;
    color: var(--tema);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    background-color: var(--frente);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 800ms ease-in-out;
    border: 4px solid var(--borda-frente);
    box-sizing: border-box;
    backface-visibility: hidden;
}

.cartao__conteudo h3 {
    background-color: var(--tema-caixa);
    border: 2px solid var(--tema-borda);
    text-align: left;
    padding: 1rem;
    position: absolute;
    margin: 0.5rem;
    border-radius: 0.7rem;
    font-size: 1.3vw;
    backface-visibility: hidden;
}

.cartao__conteudo__pergunta p {
    color: var(--letra-frente);
    font-weight: 500;
    font-size: 36px;
    padding: 2rem;
    margin-top: 4rem;
}

.cartao__conteudo__resposta p {
    color: var(--letra-atras);
    font-weight: 700;
    font-size: 30px;
    margin-top: 3rem;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta, 
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartao__conteudo__resposta {
    display: block;
    transform: rotateY(180deg);
    background-color: var(--atras);
    border: 4px solid var(--borda-atras);
}

footer {
    background-color: var(--footer-caixa);
    color: var(--footer-letra);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
.desenvolvedor {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 560px) {
    body {
        background-image: var(--cor-fundo);
    }

    .cartao {
        flex: 1 0 calc(100% - 1rem);
    }

    .cartao__conteudo h3 {
        font-size: 3vw;
    }

    .desenvolvedor {
        font-size: 3.8vw;
    }
}